@import "tailwindcss";

:root {
  --main: #f0f8ff;
  --main-opacity: #f0f8ff80;
  --details-black: #111111;
  --text-second: #888888;
  --linear: linear-gradient(to right, #e6e6e6 0%, #c5c5c5 100%);
  --white: #fafafa;
}

@theme inline {
  --color-main: var(--main);
  --color-main-opacity: var(--main-opacity);
  --color-details: var(--details-black);
  --color-second: var(--text-second);
  --linear: var(--linear);
  --white: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Lato, Helvetica, sans-serif;
}
